.App-header {
  text-align: center;
  background-color: rgb(66, 66, 66);
  color: white;
  padding: 20px;
  margin: 0;
  font-size: 44px;
}
.App {
  text-align: center;
  background-color: rgb(102, 101, 101);
  padding: 10px;
  font-size: 38px;
  color: white;
}
